* {
    font-family: 'Bitter', 'Noto Sans KR', serif;
}

ul {
    list-style-type: none;
    width: 90%
}

body {
    margin: 0;
    padding: 15px;
    max-width: 960px;
    background-color: #f0f0f0;
    word-break: break-all;
}

.title {
    display: inline-block;
}
.profile-image {
    float: right;
    width: 160px;
    height: 160px;
}

@media all and (max-width: 400px) {
    .profile-image {
        width: 100px;
        height: 100px;
    }
}

.li-section {
    font-weight: bold;
    margin-top: 1.5em
}
